* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: jost;
  }
  
  #page3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: relative;
    height: 100vh;
    max-width: 100vw;
    background-color: #FFFFFF(73, 187, 130, 0.9);
  }
  
  #left1 {
    background-color: #FFFFFF(73, 187, 130, 0.9);
    height: 70%;
    width: 35%;
  }
  
  #right1 {
    background-color: #FFFFFF(73, 187, 130, 0.9);
    border: 2px solid black;
    position: relative;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
  }
  
  .line {
    background-color: #FFFFFF(73, 187, 130, 0.9);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 10%;
    width: 90%;
    margin-left: 20px;
  }
  
  .l1 {
    position: absolute;
    z-index: 99;
  }
  .hi{
    background-color: #FFFFFF(73, 187, 130, 0.9);
    border-radius: 20px;
  }
  
  .l2 {
    left: 10%;
    top: 47%;
    width: 65%;
    border-bottom: 2px solid #000;
    position: absolute;
    transform: rotate(15deg);
    transform-origin: left;
  }
  
  .c1 {
    height: 12vw;
    width: 12vw;
    margin-right: -50px;
    transition: all 0.4s ease-in-out;
  }
  
  .c1 > i {
    font-size: 80px;
  }
  .c1:hover
  
  #text5 {
    position: relative;
    height: 30%;
    width: 100%;
  }
  
  #text5 > h1 {
    background-color: #FFFFFF(73, 187, 130, 0.9);
    padding-top: 20px;
    
    font-size: 60px;
  }
  
  #text5 > h5 {
    background-color: #FFFFFF(73, 187, 130, 0.9);
    
    transform: rotate(-20deg);
    color: #80DFB1;
    position: absolute;
    top: 15%;
    left: 3.5%;
  }
  
  #info {
    margin-top: 50px;
    height: 50%;
    width: 100%;
  }
  
  .infos {
        background-color: #FFFFFF(73, 187, 130, 0.9);
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    height: 50%;
    width: 100%;
    border-top: 2px solid #000;
  }
  
  .i1 > h1 {
    background-color: #ffffff;
  }
  
  .i1 > i {
    color: #000;
  }
  

  .c1:hover {
    scale: 1.5;
    background-color: black;
    color: white;
  }
  
  .bounding {
    width: fit-content;
    background-color: red;
  }
  
  .lp {
    object-fit: contain;
    height: 90%;
    border-radius: 50%;
    filter: grayscale(0.5);
  }
  
  .circle {
    height: 3vw;
    width: 3vw;
    background-color: #80DFB1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle i.ion-icon {
    color: white;
    font-size: 25px;
  }
  